Options -Indexes
Options -MultiViews

RewriteEngine On

RewriteBase /Thinkery



RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L,PT]

Options -Indexes

# Make PHP code look like unknown types
AddType application/x-httpd-php .install .view