/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2016, 6:42:30 PM
    Author     : thomedy
*/

html, body {
    margin: 0;
    padding: 0;
    
}

body {
  overflow-x: hidden;    
}

input[type='text'] {
    
    clear: both;
    display: block;
}

#head {
    width: 100vw;
    height: 200px;
    background: #aaaaaa;
    border-bottom: 2px solid #333333;
}